/* Загальні стилі для всього документа */
html{
  background-color: rgb(70, 109, 96);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{ 
  color: white;
}

h1,h2 {
  text-align: center;
}

/* Стилі для головного контейнера */
.main-container {
  margin: 10px;
  padding: 10px;
  padding-inline: 30px;
  background-color: rgb(70, 109, 96);
  text-align: center;
}

/* Стилі для списку компонентів палива */
.items-names > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.items-names > ul > li {
  display: block;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 0.5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 70px;
}

/* Стилі для контейнера з компонентами палива */
.container {
  display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3);
}

.task {
  margin: 10px;
  padding: 10px;
  padding-inline: 30px;
  background-color: rgb(212, 250, 238);
  border-radius: 25px;
}

caption {
  padding: 20px;
  font-weight: bold;
}

table {
  margin: 0 auto;
  display: table;

  border-collapse: separate;

  border-spacing: 20px;

  border-color: rgb(0, 0, 0);

  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 30px;

}

#button, #button2{
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  border-radius: 25px;
}

/* Медіазапит для екранів шириною до 1100px */
@media (max-width: 1100px){
  .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(4);
  }
}

/* Медіазапит для екранів шириною до 600px */
@media (max-width: 600px){
  .container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(7);
  }
  
}
